body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption,
{
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  &:hover {
    outline: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

//宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

//上左偏移
@mixin tl($top, $left) {
  top: $top;
  left: $left;
}

// 字体大小
@mixin fc($size, $color) {
  font-size: $size;
  color: $color;
}


/*清除浮动*/

.left {
  float: left;
}

.right {
  float: right;
}

// 滚动条样式
 ::-webkit-scrollbar {
  width: 2px;
  background-color: #fff;
}

 ::-webkit-scrollbar-thumb {
  background-color: rgba(187, 187, 187, 0.7);
  height: 10px;
  border-radius: 3px;
}

 ::-webkit-scrollbar-button {
  height: 0px;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

// 动画
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
